name: CI

on:
  workflow_dispatch:

jobs:
  sign:
    runs-on: macos-latest
    timeout-minutes: 30
    env:
      SECRET_URL: "${{ secrets.SECRET_URL }}"
      SECRET_KEY: "${{ secrets.SECRET_KEY }}"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Sign
        run: |
          sudo xcode-select -s /Applications/Xcode.app
          cp com.apple.dt.Xcode.plist ~/Library/Preferences/
          ./sign.py